<?xml version="1.0" encoding="utf-8" ?>
<settings version="1">
    <category id="general" label="30010" help="30600">
        <group id="1" label="30010">
            <setting id="username" type="string" label="30007" help="30740">
                <level>2</level>
                <default/>
                <constraints>
                    <allowempty>false</allowempty>
                </constraints>
                <control type="edit" format="string" />
            </setting>
        </group>
    </category>
</settings>